<div class="banner home-banner">

  <h1>trashi</h1>
  <h2>your trash is our treasure</h2>
  <% if user_signed_in? == false %>
  <%= link_to "Log In", new_user_session_path, class: "log-in-button" %>
  <% else %>
<<<<<<< HEAD
  <%= link_to "See all our Receptacles", receptacles_path, class: "log-in-button" %>
=======
  <%= link_to "Get to your Dashboard", dashboard_path, class: "log-in-button" %>
>>>>>>> master
  <% end %>
</div>

<div class="container home-card-window">
  <div class="row">
    <div class="col-sm home-card">
      One of two columns
    </div>
    <div class="col-sm home-card">
      One of two columns
    </div>
  </div>
</div>

<div class="map-cards-container">
  <div class="card-container">
    <div class="receptacle-card" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('garbage-men.jpg')">
            <div class="card-head">
              <h3>€</h3>
            </div>
            <div class="card-body" class56cc  >
                <h2>About Us</h2>
              </div>
             </div>
      </div>
    </div>
</div>
