<div class="banner home-banner">
  <h1>trashi</h1>
  <h2>your trash is our treasure</h2>
  <% if user_signed_in? == false %>
  <%= link_to "Log In", new_user_session_path, id: "log-in-button" %>
  <% else %>
  <%= link_to "Get to your Dashboard", dashboard_path, id: "log-in-button" %>
  <% end %>
</div>

<div class="container home-card-window">
  <div class="row">
    <div class="col-sm home-card">
      One of two columns
    </div>
    <div class="col-sm home-card">
      One of two columns
    </div>
  </div>
</div>
