<div class="banner home-banner">

  <h1>trashi</h1>
  <h2>your trash is our treasure</h2>
  <% if user_signed_in? == false %>
  <%= link_to "Log In", new_user_session_path, class: "log-in-button" %>
  <% else %>
  <%= link_to "All Receptacles", receptacles_path, class: "log-in-button" %>
  <% end %>
</div>
<div id="how-we-work">
  <div class="howto-title">
    <h2>How it Works</h2>
  </div>
  <div class="howto-content">
    <p>"All of this trash, and I don't know where to put it!" is what most of our clients say when they come to us, Trashi is here to help you remove whatever you don't need at your home, after a party or any sort of event. Whether you need a small receptacle, like a boring trashcan... <strong>OR</strong> a <strong><em>Supermassive Black Hole</em></strong> to throw and inifinite amount of trash!, any size for your needs. Also, got one receptacle of your own? upload it and make an income out of it, find our more about our services on your 'Trashboard'(Dashboard).</p>
  </div>
</div>
<div id="about-us">
  <div class="about-title">
    <h2>About Us</h2>
  </div>
  <div class="about-content">
    <p>Founded during the last strech at the LeWagon's coding bootcamp, three new friends: Pablo Bárcena (Spain), Valerie Chang (U.S) and Victor Serapiglia (Venezuela). Created a website to take care of your trash container needs, © Trashi's core goal will be to "dispose off" of your problems in creative ways.</p>
  </div>
</div>
