
.banner{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  height: 60vh;
  background-size: cover;
  margin-bottom: 10px;
  color: white;
}

.banner {
  h1 {
    font-size: 100px;
  }
}
