
.banner{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  height: 60vh;
  background-size: cover;
}
.receptacles-banner{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-size: cover;
  height: 400px;
  h1{
    font-style: normal;
    margin: 0;
  }
}
