.log-in-button{
  padding: 10px 20px;
  background-color: white;
  color: gray;
  text-decoration: none;
  border-radius: 16px;
  transition: 0.3s ease-in-out;
  margin: 85px;
  font-family: 'SF Pro Display', sans-serif;
  &:hover {
    color: white;
    background-color: black;
  }
}
