.log-in-button{
  padding: 10px 20px;
  background-color: white;
  color: gray;
  text-decoration: none;
  border-radius: 32px;
  transition: 0.3s ease-in-out;
  margin-top: 85px;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 33px;
  &:hover {
    color: white;
    background-color: black;
  }
}
.form-actions{
  a{
    color: white;
  }
}

.regular{
  padding: 8px 16px;
  font-size: 20px;
  &:hover {
    color: white;
    background-color: black;
  }
}
