.card-container{
  margin: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // display: grid;

  a{
    text-decoration: none;
    margin:0px;
  }
}

.receptacle-card{
  background-color: pink;
  margin: 20px 20px;
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  background-size: cover;
  h2{
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    font-size: 2em;
    padding: 15px;
    color: white;
    position: relative;
    bottom: 35px;
  }
  h3{
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    font-size: 1em;
    padding: 15px;
    color: white;
    opacity: .7;
  }
}
.card-head{
  display: flex;
  justify-content: left;
  padding: 16px;
  width: 100%;
}
.card-body{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}
.show-card{
  background-color: pink;
  margin: 20px;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 30px;
  background-size: cover;
  h2{
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    font-size: 2em;
    padding: 15px;
    color: white;
    position: relative;
    bottom: 35px;
  }
  h3{
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    font-size: 1em;
    padding: 15px;
    color: white;
    opacity: .7;
  }
}
.map-cards-container{
  display: flex;
}
.map-section{
  position: sticky;
  margin-top: 20px;
  top: 6vh;
  border-radius: 30px;
}
