.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  a{
    text-decoration: none;
    margin:0px;
  }
}

.receptacle-card{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  background-size: cover;
  h2{
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    font-size: 30px;
    padding: 15px;
    color: white;
    line-height: 1;

  }
  h3{
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    padding: 15px;
    color: white;
    opacity: .7;
    margin-top: 4px;
  }

}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.card-info{
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: flex-start;
  h2, h3{
    padding: 0;
    // make h2 glowing
  }
  p{
    margin: 0px;
    font-size: 16px
  }
}

.tag-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #3a3a3aa1;
  border-radius: 30px;
  height: 40px;
  a{
    margin: 0;
    text-align: center;
    flex-grow: 1;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    &:hover{
      height: 80%;
    }
  }
}


.tags-cards-container{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.dashboard-card{
  margin: 20px 10px 20px 10px;
  width: 600px;
  padding: 51px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  background-color: #3a3a3aa1;
  border-radius: 30px;
  img{
    border-radius: 30px;
    object-fit: cover;
  }
  h3{
    font-size: 30px;
    color: white;
    text-align: left;
    padding-left: 10px;
  }
}

.dashboard-title{
  font-size: 50px;
}

.user-profile{
  width: 90%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around;
  margin: auto;
  h1{
    font-size: 50px;
  }
background: linear-gradient(48deg, #e8005a, #00e8d5);
background-size: 400% 400%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 96%
  }

  50% {
    background-position: 100% 5%
  }

  100% {
    background-position: 0% 96%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 96%
  }

  50% {
    background-position: 100% 5%
  }

  100% {
    background-position: 0% 96%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 96%
  }

  50% {
    background-position: 100% 5%
  }

  100% {
    background-position: 0% 96%
  }
}


.dashboard-container {
  display: flex;
  justify-content: space-around;
}

.dash-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1 {
    padding-left: 10px;
  }
}

.dash-title{
    font-size: 50px;
    margin-left: 60px;
}

.card-body:hover .glow {
  text-shadow: 0px 0px 6px rgba(255,255,255,0.5);
}
