
.container-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h1{
    padding-left: 10px;
  }
}
.container-image-map{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.show-image{
  margin: 0px 10px;
  width: 600px;
  height: 600px;
  background-size: cover;
  border-radius: 30px;
}
.map-show{
  margin: 56px 10px 20px 10px;
}
.container-desc-book{
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.container-desc{
  margin: 20px 10px 20px 10px;
  width: 600px;
  padding: 51px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  background-color: #3a3a3aa1;
  border-radius: 30px;

}
.container-book{

  width: 600px;
  text-align: left;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  // background-color: rgb(255, 255, 255);
  // border: solid white 2px;
  border-radius: 30px;
  margin: 0 auto;
  background: linear-gradient(316deg, #4270cf, #15b654);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
  position: sticky;
  top: 8vh;
  h2{
    color: black;

  }
  label{
    color: black;
    font-size: 20px;
    margin: 0;
  }
  .datepicker{
    border-radius: 10px;
  }
}
.book-button{
  color: white;
  padding: 5px 20px;
  background-color:black;
  border-radius: 10px;
  font-size: 20px;
  &:hover{
    background-color: rgb(32, 32, 32);
    color: white;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 90%
  }

  50% {
    background-position: 100% 11%
  }

  100% {
    background-position: 0% 90%
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 90%
  }

  50% {
    background-position: 100% 11%
  }

  100% {
    background-position: 0% 90%
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 90%
  }

  50% {
    background-position: 100% 11%
  }

  100% {
    background-position: 0% 90% }
  }
.rec-desc{
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.options-show{
  a{
    margin: 0;

  }
}
