.home-card {
  img {
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
}

.home-card-window {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap:10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  flex-direction: column;
}
