.navbar-lewagon {
  background: black;
  transition: 0.5s background-color ease;
}

.container,
.navbar>.container-fluid,
.navbar>.container-sm,
.navbar>.container-md,
.navbar>.container-lg,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}

.navbar-lewagon-transparent {
  background-color: rgba(0, 0, 0, 0.55);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  text-decoration: none;
  color: white;
  margin: 8px;
  transition: 0.3s ease-in-out;
  &:hover{
    color: gray
  }
}
 .navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 0px;
    margin: 8px;
    transition: 0.3s ease-in-out;
    &:hover {
      color: gray
    }
 }
