.navbar-lewagon {
  background: black;
  transition: 0.5s background-color ease;
  height: 8vh;
  font-size: 22px;
}

.navbar{
  padding: 0px;
}

.container,
.navbar>.container-fluid,
.navbar>.container-sm,
.navbar>.container-md,
.navbar>.container-lg,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-lewagon-transparent {
  background-color: rgba(0, 0, 0, 0.55);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  text-decoration: none;
  color: white;
  margin: 8px;
  transition: 0.3s ease-in-out;
  font-family: 'SF Pro Display', sans-serif;
  &:hover{
    color: gray
  }
}
 .navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 0px;
    margin: 8px;
    transition: 0.3s ease-in-out;
    text-align: end;
    &:hover {
      color: gray
    }
 }

 .toggler {
   color: white;
   &:hover {
     color: gray;
   }
 }

 .navbar-toggler {
   padding: 0px;
   padding-bottom: 6px;
 }

.navbar-expand-sm .navbar-nav .dropdown-menu {
  background-color: rgb(44, 44, 44);
  border-radius: 30px;
  margin-top: 2vh;
}

.dropdown-item {
  transition: .50s;
  color: white;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent;
  color: gray;
}

.dropdown {
  justify-content: end;
  flex-direction: row-reverse;
}

.searchbar form {
  display: flex;
  color: white;
  align-items: center;
}

.fa-magnifying-glass:before,.fa-search:before {
  content: "\f002";
  margin-left: 12px;
  margin-right: 6px;
}

.form-control {
  border-radius: 30px !important;
  border-width: initial;
  font-family: 'SF Pro Display', sans-serif;
}
.mapboxgl-ctrl, .form-select{
  border-radius: 30px !important;
}
